h1 {
    margin-top: 0;
    font-size: 42px;
    font-family: "Covered By Your Grace", cursive; }

#top-header { font-size: 12.6px; }

#top-header .navbar-header p { color: rgb(200,200,200); }
#top-header .navbar-header a,
#top-header .navbar-nav a { color: rgb(248,248,248); }

.jumbotron {
    background-image: url("http://lab3.se3316a.tk/images/study-in-grey3.jpg");
    color: #FFFFFF; }
.t-shadow { text-shadow: rgba(0,0,0,0.8) 2px 2px 3px; }