body { padding-bottom: 40px; }
#wrapper { position: relative; }

#navbar { position: absolute; top: 20px; right: 0; left: 0; }
a.navbar-brand {
    color: #FFFFFF;
    font-size: 36pt;
    font-family: "Covered By Your Grace", cursive; }
a.navbar-brand:hover { color: #2A6496 }
ul.navbar-nav a {
    color: #FFFFFF;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
    font-size: 18pt; }
ul.navbar-nav a:hover {
    color: #FF0000;
}

#imageCarousel { margin-bottom: 60px; }
#imageCarousel > .carousel-inner > div { height: 650px; }
#imageCarousel > .carousel-inner > div > img {
    width: 100%;
    height: 100%; }

.carousel-caption { text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8); }
.carousel-caption > h1 {
    font-family: "Covered By Your Grace", cursive;
    font-size: 48px; }
.carousel-caption > p {
    margin-bottom: 20px;
    font-size: 28px; }

.img-circle { width: 100px; height: 100px; }
.row { text-align: center; }
.col-lg-4 { margin-bottom: 20px !important; }
