h1 {
    margin-top: 0;
    font-size: 42px;
    font-family: "Covered By Your Grace", cursive; }

#top-header { font-size: 12.6px; }
#top-header .navbar-header p { color: rgb(200,200,200); }
#top-header .navbar-header a,
#top-header .navbar-nav a { color: rgb(248,248,248); }

#navbar .navbar-nav { text-shadow: rgba(0,0,0,0.8) 2px 2px 3px; }

#img-carousel { margin-bottom: 60px; }

.carousel-control {
    background: none !important;
    color: #000000; }
.carousel-control:hover { color: #000000; }
.carousel-control:focus { color: #000000; }
.carousel-control.left { margin-left: -100px; }
.carousel-control.right { margin-right: -100px; }

.img-text {
    text-align: justify;
    text-justify: inter-word; }
.price {
    font-size: 1.4em;
    color: #FF0000;
    font-weight: bold; }